/* --------- heading --------- */

.heading-section{
    text-align: center;
    margin-top: 15px;
  }
  
  .heading-section h1{
    font-size: 58px;
    margin: 0px;
  }
  
  .heading-button-left{
    min-width: 144px;
    max-width: 100%;
  }
  
  .heading-button-right{
    margin-left: 10px;
  }

  h1 {
    padding: 1rem
  }