.about-section {
    text-align: center;  
}

.about-heading {
    margin: 30px;
}

.about-heading h2 {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #ff4081;
    text-underline-position: under;
    margin-bottom: 85px;
}

.about-heading h3 {
    font-size: 20px;
    padding: 0px 200px;
}

.about-text {
    text-align: center;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 68px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
