#contact {
    height: 100vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.contact-section {
    text-align: center;
}

.contact-heading {
    padding-bottom: 30px;
}

.contact-heading h2 {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: #ff4081;
    text-underline-position: under;
}

.contact-heading h3 {
    font-size: 16px;
    padding: 0px 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}

.contact-form > * {
    width: 100%;
}
