<mat-toolbar 
class="navigation-toolbar" 
[class.navigation-is-mobile]="mobileQuery.matches"
[class.navigation-fixed]="!fixedTolbar">
      <button fxShow="true" fxShow.gt-xs="false" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <mat-nav-list class="navigation-list" fxLayout="row" fxShow="false" fxShow.gt-xs="true">
          <a mat-list-item href="#heading">HOME</a>
          <a mat-list-item href="#about">ABOUT</a>
          <a mat-list-item href="#portfolio">PORTFOLIO</a>
          <a mat-list-item href="#contact">CONTACT</a>
      </mat-nav-list>
      <span class="navigation-spacer"></span>      
    </mat-toolbar>

    <div class="navigation-empty" fxShow="false" fxShow.gt-xs="true"></div>
    
    <mat-sidenav-container 
    class="navigation-sidenav-container"                           
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" (opened)="setToggleOn()" (closed)="setToggleOff()">
        <mat-nav-list>
          <a mat-list-item href="#heading">Home</a>          
          <a mat-list-item href="#about">About</a>
          <a mat-list-item href="#portfolio">Portfolio</a>
          <a mat-list-item href="#contact">Contact</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>

      <app-heading></app-heading>
      <app-about></app-about>
      <app-portfolio></app-portfolio>
      <app-contact></app-contact>
      <!-- <footer></footer> -->

      </mat-sidenav-content>
    </mat-sidenav-container>